<section>
  <h1>Equipamentos</h1>

  <% if @equipment.empty?%>
    <p>Nenhum equipamento disponível no momento.</p>
  <% else %>
    <table class="table table-striped">
      <tr>
        <th>Número do equipamento:</th>
        <th>Tipo de equipamento:</th>
        <th>Fornecedor:</th>
        <th>Descrição do equipamento:</th>
      </tr>
      <% @equipment.each do |equipment| %>
        <tr>
          <td> <%= equipment.id %></td>
          <td> <%= equipment.name %></td>
          <td> <%= equipment.supplier %></td>
          <td> <%= equipment.description %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</section>
